.navbar-default{
     border-color: #ffa500;
}

.navbar-header{
     padding: 12px;
}

.logo{
     height: 20px;
     margin: auto;
}

.btn-custom-submit{
    background-color: #Ffa500;
    color: black;
    border-color: #ffa500;
    width: 100%;
}

.btn-custom-submit:hover{
    background-color: #FFC04C;
    border-color: #FFC04C;
    color: #000000;
}