body{
    background-color: #ebebeb;
}
.dashboard-tab{
    width: 22%;
    height: 600px;
    margin-left: 1.5%;
    margin-right: 1%;
    /*border: 1px solid; */
    padding: 10px;
    background-color: #ffffff;
}

/*
.dashboard-tab:hover{
    background-color: #ebebeb;
}
*/
.btn-custom-orange{
    width: 100%;
    margin-bottom: 3%;
    background-color: rgb(253, 241, 241);
    color: red;
    border-radius: 0px;
    font-family: Colfax-Medium;
    font-size: 12px;
}

.btn-custom-orange:hover{
    color: #ffffff;
    background-color: #d5000f;
}

#retailer-logo{
    width: 11vw;
    height: 11vw;
    margin: auto;
}

#retailer-name{
    color: #000000;
    font-family: Colfax-Bold;
    font-size: 14px;
}

.dashboard-hr{
    height: 1px;
    background-color: #000000;
}

.info-label{
    font-family: Colfax-Thin;
    font-size: 12px;
    margin: 0px;
    color: #000000;
}

.info-content{
    font-family: Colfax-Medium;
    font-size: 12px;
    color: #000000;
    margin: 0px;
}

.tab-title{
    height: 100px;
    font-family: Colfax-Medium;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

.tab-image{
    display: block;
    margin: 10%;
    width: 80%;
    margin-top:0px;
    text-align: center;
}

.tab-description{
    font-family: Colfax-Medium;
    font-size: 12px;
    color: #000000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
