#customer-transaction-log{
    width: 100%;
}

#customer-transaction-table{
    font-family: "Colfax-Medium";
    border-collapse: collapse;
    width: 100%;
}

#customer-transaction-table td, #customer-transaction-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customer-transaction-table tr:nth-child(even){background-color: #f2f2f2;}

#customer-transaction-table tr:hover {background-color: #ddd;}

#customer-transaction-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(253, 241, 241);
    color: black;
}

.page-links{
    margin: 5px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    /*border: 1px solid black;*/
}

.page-links:hover{
    height: 25px;
}

.active{
    background-color: #e75536;
    color: #000000;
}

.links{
    display: block;
    border: 1px solid;
}